<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Top_Headliness</title>
  </head>
  <body>
    <div class="heading">
      <h1>Welcome to Top Headlines!!!</h1>
    </div>
    <form class="" action="/" method="get">
      <div class="card" >
        <div class="card-body nyt">
          <a href="https://www.nytimes.com/"> <h1 class="title">New York Times</h1></a>
          <h2 class="content"><%= theNewYorkTimes%></h2>
        </div>

      </div>
      <div class="card" >
        <div class="card-body yahoo">
        <a href="https://news.yahoo.com/"><h1 class="title">Yahoo!!!</h1></a>
        <h2 class="content"><%= yahooNews%></h2>

        </div>

      </div>
      <div class="card" >
        <div class="card-body forbes">
          <a href="https://www.forbes.com/"><h1 class="title">Forbes</h1></a>
          <h2 class="content"><%= forbesNews%></h2>

        </div>

      </div>
      <div class="card" >
        <div class="card-body tech-crunch">
          <a href="https://techcrunch.com/"> <h1 class="title">Tech Chrunch</h1></a>
          <h2 class="content"><%= techCrunchNews%></h2>

        </div>

      </div>
      <div class="card" >
        <div class="card-body women">
          <a href="https://womansday.com"> <h1 class="title">Women's Day</h1></a>
          <h2 class="content"><%= womensDayNews%></h2>

        </div>

      </div>
      <div class="card" >
        <div class="card-body economist">
          <a href="https://www.economist.com/"> <h1 class="title">The Economist</h1></a>
          <h2 class="content"><%= theEconomistNews%></h2>

        </div>

      </div>
      <div class="card" id = "people">
        <div class="card-body people">
          <a href="http://www.people.com"> <h1 class="title">People Magazine</h1></a>
          <h2 class="content"><%= peopleNews%></h2>

        </div>

      </div>


    </form>


<footer><h3>© 2020 Ashutosh Rana</h3></footer>
  </body>
</html>
