<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title > Top_Headliness_India</title>
    <link rel = "icon" href ="https://lh3.googleusercontent.com/proxy/pNlgwL0_opaBM7yiEGpdQDveSDypxI9C5pgk7hzdiDpkAnUVkUusWA75I08PqAUoHzxdsLd5ek66WhLyqQ_HdTSw1cXpIQ4P3XilgKcrkScvYOxUxdXJPUvk9y5Tqvih"type = "image/x-icon">
  </head>
  <body>
    <div class="heading">
      <h1>Welcome to Top Headlines!!!</h1>
    </div>
    <form class="" action="/" method="get">
      <div class="card" >
        <div class="card-body us-today">
          <a href="https://www.indiatoday.in/"> <h1 class="title">India Today</h1></a>
          <h2 class="content"><%= indiatoday%></h2>
        </div>

      </div>
      <div class="card" >
        <div class="card-body yahoo">
        <a href="https://timesofindia.indiatimes.com/us"><h1 class="title">Times of India</h1></a>
        <h2 class="content"><%= timesofindia  %></h2>

        </div>

      </div>
      <div class="card" >
        <div class="card-body forbes">
          <a href="https://www.businesstoday.in/"><h1 class="title">Business Today</h1></a>
          <h2 class="content"><%= businesstoday%></h2>

        </div>

      </div>
      <div class="card" >
        <div class="card-body tech-crunch">
          <a href="https://indianexpress.com/"> <h1 class="title">Indian Express</h1></a>
          <h2 class="content"><%= indianexpress%></h2>

        </div>

      </div>
      <div class="card" >
        <div class="card-body cosmo">
          <a href="https://www.thehindu.com/"> <h1 class="title">The Hindu</h1></a>
          <h2 class="content"><%= thehindu%></h2>

        </div>

      </div>
      <div class="card" >
        <div class="card-body economist">
          <a href="https://www.ndtv.com/"> <h1 class="title">NDTV</h1></a>
          <h2 class="content"><%= ndtv%></h2>

        </div>

      </div>
      <div class="card" id = "people">
        <div class="card-body people">
          <a href="https://zeenews.india.com/"> <h1 class="title">Zee News</h1></a>
          <h2 class="content"><%= zee%></h2>

        </div>

      </div>


    </form>


<footer><h3>© 2020 Ashutosh Rana</h3></footer>
  </body>
</html>
